# Excluir claves pruebas-local
.env

# Excluir notas internas
mejoras.txt

# Excluir archivos de estado
*.tfstate
*.tfstate.backup

# Excluir archivos de variables sensibles
terraform.tfvars

# Excluir directorios .terraform
.terraform/

*.terraform.lock.hcl

# Excluir archivo Ansible Vault 
secrets.yml
